.actividades-pagina {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: transparent;
  gap: 20px;
  justify-content: center;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.carousel-wrapper {
  overflow: hidden;
  width: 90%;
}

.carousel-cards {
  display: flex;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
}

.carousel-cards > * {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
}

.actividad-card {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 400px;
  perspective: 1000px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 123, 255, 0.8);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.carousel-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
