/* BOTONES */

#verClimaBtn,
#verMapaBtn {
    display: inline-block;
    margin-left: 50px;
    width: 200px;
    padding: 10px;
    background-color: #64bcae;
    color: #1e5e17;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

#verClimaBtn:hover {
    background-color: #285b7c;
}

#verMapaBtn:hover{
background-color: #285b7c;
}

/* Botones fuera del header en responsive */

@media (max-width: 768px) {
    #verMapaBtn {
        display: block;
        margin: 20px auto;
        width: 90%;
        text-align: center;
    }

    #verMapaBtn:hover {
        background-color: #285b7c;
    }

    #verClimaBtn {
        display: block;
        margin: 20px auto;
        width: 90%;
        text-align: center;
    }

    #verClimaBtn:hover {
        background-color: #285b7c;
    }
}


#btnArriba {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 25px;
    background-color: #64bcae;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
}

#btnArriba:hover {
    background-color: #3fae6a;
}



/* FILTRO */

.filtro {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    width: 160px;
}

#ciudad {
    border-radius: 9px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    font-size: 17px;
    padding: 3px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


label {
    margin-top: 15px;
}


/* BARRA CONTROLES*/

.barra-controles {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: row; /* Elementos en fila */
    /*background-color: #ffffffee;*/
    padding: 15px 15px;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    align-items: center;
    margin-bottom: 59px;
    margin-top: 15px;
}

