/* button.css o centralízalo en actividades.css */

.button {
  background-color: #12c7af;
  color: white;
  padding: 8px 16px;
  margin: 0 5px; /* espacio horizontal entre botones */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:active {
  background-color: #0cb661;
}
