/* HEADER */
.header {
    display: flex;
    justify-content: center; /* Centra todo horizontalmente */
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 97px;
    background-color: #64bcae;
    padding: 10px 30px;
    margin: 0;
    z-index: 1000;
    gap: 20px; /* espacio entre centro y derecha */
  }
  
  .logo-titulo {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
  }
  
  
  .logo {
      width: 115px;
      height: auto;
  }
  
  h1 {
      margin: 0;
      font-size: 45px;
      color: #1e5e17;
      font-family: Georgia, 'Times New Roman', Times, serif;
      animation: colorFan 3s infinite;
      margin-top: 15px;
      text-align: center;
  }
  
  .fondo-logo {
      position: relative;
      z-index: 1; /* Asegura que el contenido esté por encima del fondo */
      padding-top: 50px;
    }
    
    /* Fondo semitransparente solo con el logo */
    .fondo-logo::before {
      content: "";
      position: absolute;
      top: 90px; /* Baja el fondo para que el logo se vea mejor */
      left: 0;
      right: 0;
      height: 700px; /* Ajusta la altura del fondo si quieres más/menos área visible */
      background-image: url('/imagenes/logo.png');

      background-repeat: no-repeat;
      background-position: center top;
      background-size: 700px auto;
      opacity: 0.07;
      z-index: 1000;
      pointer-events: none; /* Evita interferencias con clics */
    }
    
    
    /* Asegura que el contenido esté encima del fondo */
    .fondo-logo > * {
      position: relative;
      z-index: 1;
    }
    
    .contact-links {
      position: absolute;
      right: 30px; /* Ajusta según el espacio deseado desde el borde derecho */
      top: 50%; /* Centra verticalmente dentro del header */
      transform: translateY(-50%); /* Ajusta el centrado vertical */
      font-size: 1.5rem; /* tamaño iconos */
    }
    
    .contact-links a {
      color: #333; /* color base para iconos */
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      text-decoration: none;
    }
    
    .contact-links a.email-link i {
      color: #333; /* o el color que prefieras para el email */
    }
    
    .contact-links a.instagram-link i {
      /* color oficial Instagram (simplificado) */
      color: #E1306C;
    }
    
    /* Opcional: efecto hover */
    .contact-links a:hover i {
      opacity: 0.7;
    }
    