/* Por ejemplo en mapa.css */
.mapa {
    height: 850px;
    width: 850px; /* Hacerlo más cuadrado */
    margin: 7rem auto; /* Centrar horizontalmente */
}

.leaflet-container {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}